      <div id="<%= dom_id post %>">
<div class="container-fluid">
  <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Titulo  : <%= post.title %></h5>
        <p class="card-text">Imagen: <%= post.image %>.</p>
        <p class="card-text">Descripción:<%= post.description %>.</p>

  </div>

</div>